<h1>Listing photos</h1>

<table id="cal">


<% @photos.each do |photo| %>
  <% if @day != photo.day then %> <tr> <% end %>
    <td class="thum">
    <%= photo.day %>
    <% if photo.eat == 1 then %> 朝食<% end %>
    <% if photo.eat == 2 then %> 昼食<% end %>
    <% if photo.eat == 3 then %> 夕食<% end %>
    <br/>
    <%= link_to image_tag(picture_photo_path(photo), :height => '64'), photo %>
    
    </td>
  <% @day = photo.day %>
  <% if @day != photo.day then %> <tr> <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
<br/>
<%= link_to "自分の写真を見る" , :action => "index", :filter => "only_me" %>
<%= link_to "全ての写真を見る" , :action => "index", :filter => "all" %>
<%= link_to "自分以外の写真を見る", :action => "index", :filter => "without_me" %>
