
<p>
  <b>タイトル</b>
  <%= @photo.title %>
</p>


<p>
  <%= @photo.day %>
</p>

<p>
  <% if @photo.eat==1 then %> 朝食 <% end %> 
  <% if @photo.eat==2 then %> 昼食 <% end %>
  <% if @photo.eat==3 then %> 夜食 <% end %>
  
</p>

<p>
  <%= image_tag picture_photo_path(@photo), :height => '240' %>
</p>

<p>
  <b>せつめい</b>
  <%= @photo.explanation %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %> |
<%= link_to 'Destroy', @photo, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
